{% extends 'base.html' %}
{% block content %}
<div class="album text-muted">
  <div class="container">

<script>
        var DjangoRecaptchaOptions = { "lang": "en" };
        if (typeof RecaptchaOptions !== 'object') {
          RecaptchaOptions = DjangoRecaptchaOptions;
        } else {
          for (key in DjangoRecaptchaOptions) {
            RecaptchaOptions[key] = DjangoRecaptchaOptions[key];
          }
        }
        var recaptchaCallback = function(resp) {
          document.getElementById("recaptcha-submit").disabled = false;
        };
        var recaptchaExpiredCallback = function(resp) {
          document.getElementById("recaptcha-submit").disabled = true;
        };
</script>

<h2>Login</h2>
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
<form action="." method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="g-recaptcha" data-sitekey="6LcJEx0UAAAAAEJBS0NYcLa-0v5zldLzvGRYBQQy" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div>
  <input type="submit" id="recaptcha-submit" class="btn btn-raised btn-success" value="Submit" disabled/>
  </form>

  <p>Doesn't have an account ? <a href="{% url 'register' %}">Register</a> !</p>
</div>
<div class="text-center col-lg-5 col-md-5 col-sm-5 col-xs-12">

<!--a class="btn btn-raised btn-success" href="{% url 'social:begin' 'google-oauth2' %}">Google+</a><br-->
<a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
<a class="btn btn-secondary" href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
<a class="btn btn-info" href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
</div>

</div>
</div>
{% endblock %}
