{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h2>Signup for showing your bukkake</h2>
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
<form action="." method="POST">
  {% csrf_token %}
  {{ form.as_p }}
    
<script type="text/javascript">
    var recaptchaCallback = function(resp) {
      var form = document.getElementById("recaptcha-form");
      form.getElementById('registerBukkake').disabled = true;
      form.submit();
    };
</script>
  <input type="submit" id="registerBukkake" class="btn btn-raised btn-success g-recaptcha" data-sitekey="6LezISIUAAAAACn_I-mT6sseCHJGP6kun5uZCAlV" data-callback="recaptchaCallback" value="Register" />
</form>
    </div>
    <div class="text-center col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <a class="btn btn-raised btn-primary" href="{% url 'social:begin' 'facebook' %}">Signin with Facebook</a><br>
        <a class="btn btn-raised btn-default" href="{% url 'social:begin' 'github' %}">Signin with GitHub</a><br>
        <a class="btn btn-raised btn-info" href="{% url 'social:begin' 'twitter' %}">Signin with Twitter</a>
    </div>
</div>
{% endblock %}
