{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="album text-muted">
  <div class="container">

<h2>Signup for showing your bukkake</h2>
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
<form action="." method="POST">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit" class="btn btn-raised btn-success">Register</button>
</form>
    </div>
    <div class="text-center col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}">Signin with Facebook</a><br>
        <a class="btn btn-secondary" href="{% url 'social:begin' 'github' %}">Signin with GitHub</a><br>
        <a class="btn btn-info" href="{% url 'social:begin' 'twitter' %}">Signin with Twitter</a>
    </div>
</div>

</div>
</div>
{% endblock %}
