{% extends 'base2.html' %}
{% block title %}Create an account{% endblock %}

{% block content %}
<div class="panel">


     <p>Please, sign up using the following form : </p>

    <div class="formset">
        <form action="." method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" class="btn" value="Create an account" />
        </form>
         
         <p>
              Or <a href="{% url 'login' %}">Login</a>
         </p>

    </div>

</div>
{% endblock %}
