{% extends 'base2.html' %}
{% load socialaccount %}
{% block title %}Create an account{% endblock %}

{% block content %}
<div class="panel">


     <p>Please, sign up using the following form : </p>

    <div class="formset">
        <form action="." method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" class="btn" value="Create an account" />
        </form>
         
         <p>
              Or <a href="{% url 'login' %}">Login</a>
         </p>

    </div>


      <h4>Sign up with</h4>
     <div>
        <a title="Se connecter à Google+" href="{% provider_login_url 'google' %}" class="icons googleplus"><i class="icon ion-social-googleplus"></i></a>
        <a title="Se connecter à Github" href="{% provider_login_url 'github' %}" class="icons gh"><i class="icon ion-social-github"></i></a>
        <a title="Se connecter à Twitter" href="{% provider_login_url 'twitter' %}" class="icons twitter"><i class="icon ion-social-twitter"></i></a>
    </div>

</div>
{% endblock %}
