@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
*, *::after, *::before { box-sizing: border-box; -webkit-transition: 0.3s; transition: 0.3s; }
body { background-color: #f9f9f9; font: 14px/22px 'Lato', Helvetica, Arial, sans-serif; margin: 0; height: 100%; overflow-x: hidden; overflow-y: auto; }
.panel { background: rgba(255, 255, 255, 0.9); border-radius: 2px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); margin: 0 auto; text-align: center; color: #000; overflow-x: hidden; padding-top: 40px;  padding-bottom: 30px; }
.formset, .content {padding: 25px; max-width: 320px; margin: auto; }
.panel h1,  #header .brand { font-size: 60px; margin: 25px 0 15px; display: inline-block; width: 100%; font-weight: 200; color: #ff5252; font-family: "Vibur", cursive; }
.panel h4 { font-weight: 400; font-size: 16px; text-align: left; padding-left: 15px; padding-bottom: 5px; color: #ff5252; border-bottom: 1px solid #ff5252; }
.btn { border: 0; padding: 10px; border-radius: 2px; width: 100%; margin-top: 15px; background: #ff5252; font-size: 16px; font-weight: 400; cursor: pointer; color: #fff; position: relative; overflow: hidden; }
.btn.btn-secondary { background-color: #cccccc; }
.btn.btn-small { width: auto; }
.icons.twitter { background: #00aced; }
.icons.fb { background: #3b579d; }
.icons.googleplus { background: #dd4a3a; }
.icons.gh {background: #000; }
.icons { width: 40px; height: 40px; line-height: 37px; color: #fff; border-radius: 100%; display: inline-block; }
input, textarea { -webkit-appearance: none; appearance: none; border-radius: 2px; border: 1px solid #ff5252; height: 35px; position: relative; z-index: 2; padding: 5px; background: none; color: #ff5252; width: 100%; }
textarea { height: auto; }
button { -webkit-appearance: none; appearance: none; }
input:focus, textarea:focus { outline: 0 none; }
input[type="file"] { border: 0 none; border-radius: 0; width: auto; display: block; }
label { font-weight: 300; color: #ff5252; font-size: 14px; min-height: 17px; text-align: left; z-index: 1; }
a { text-decoration: none; color: #ff5252; }
a.link-secondary { color: #fff; }
a:hover { text-decoration: underline; }
.clearfix, .clearfix::before, .clearfix::after {content: ""; clear: both; float: none; display: table; width: 100%; }
#header { background-color: #fff; color: #000; border-bottom: 4px solid #f5f5f4; width: 100%; float: left; height: 100%; }
#header .content { padding: 15px 10px; max-width: 100%; width: 100%; margin: 0; display: inline-block; height: 100%; }
#header .brand { color: #333; font-size: 30px; float: left; display: inline-block; width: 150px; margin: 0; }
#header .menu { list-style: none inside; float: left; padding: 0; margin: 0; }
#header .menu li { display: inline-block; margin-left: 10px; }
#header .menu li:first-child { margin-left: 0; }
#header .menu li a, #header .user a { color: #333; }
#header .menu li a:hover, #header .menu li.selected a, #header .user a:hover { color: #ff5252; }
#header .user { float: right; white-space: nowrap; }
.container { width: 100%; margin: 20px auto; }
.page { background: rgba(255, 255, 255, 0.9); border-radius: 2px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); }
.dashboard-page .page-title { border-bottom: 1px solid #e6e6e6; padding: 5px 10px 2px 10px; }
.dashboard-page .page-content { padding: 10px 10px; }
#image-list { text-align: center; }
#image-list .image { display: inline-block; width: 33%;}
#image-list .image .info { padding: 0px 0 20px; }
.images-likes .avatar { width: 80px; height: 80px; overflow: hidden;}
.images-likes .avatar img { width: auto; height: 100%; }
@-webkit-keyframes slide-show { to { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes slide-show { to { -webkit-transform: translateY(0); transform: translateY(0); }}
.alert { position: fixed; z-index: 99; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-box-align: center; align-items: center; padding: 20px; color: #fff; line-height: 1.3; box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35); top: 0; right: 0; left: 0; width: 100%; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
.bar-top.do-show { -webkit-animation: slide-show 1s forwards, slide-show 1s reverse forwards 3s; animation: slide-show 1s forwards, slide-show 1s reverse forwards 3s; }
.alert.alert-info { background: #29b6f6; }
.alert.alert-success { background: #66BB6A; }
.alert.alert-error { background: #EF5350; }
.alert .close { float: right; }
.alert .close a { color: #fff; }
.hidden { visibility: hidden; opacity: 0; }
.row {overflow-x: scroll;width: 100%; overflow-y: hidden;}
.row__inner {transition: 450ms -webkit-transform;transition: 450ms transform;transition: 450ms transform, 450ms -webkit-transform;font-size: 0;white-space: nowrap;margin: 70.3125px 0;padding-bottom: 10px;}
.title {position: relative;display: inline-block;width: 250px; margin-right: 10px;font-size: 20px;cursor: pointer;transition: 450ms all;-webkit-transform-origin: center left;transform-origin: center left;}
.tile__img {width: 250px;height: 140.625px;-o-object-fit: cover;object-fit: cover;}
.tile__details {position: absolute;bottom: 0;left: 0;right: 0;top: 0;font-size: 10px;opacity: 0;background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);transition: 450ms opacity;}
.tile__details:after,
.tile__details:before {content: '';position: absolute;top: 50%;left: 50%;display: #000;}
.title:hover .tile__details {opacity: 1;}
.tile__title {position: absolute;bottom: 0;padding: 10px;z-index: 12;}
.row__inner:hover {-webkit-transform: translate3d(-62.5px, 0, 0);transform: translate3d(-62.5px, 0, 0);}
.row__inner:hover .title {opacity: 0.3;}
.row__inner:hover .title:hover {-webkit-transform: scale(1.5);transform: scale(1.5);opacity: 1;}
.title:hover ~ .title {-webkit-transform: translate3d(125px, 0, 0);transform: translate3d(125px, 0, 0);}
@media screen and (min-width: 641px) and (max-width: 1040px) { #image-list .image { width: 49%; text-align: center; } }
@media screen and (max-width: 640px) { #image-list .image { width: 100%; text-align: center; } }
