@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
*, *::after, *::before { box-sizing: border-box; -webkit-transition: 0.3s; transition: 0.3s; }
body { background-color: #f5f5f5; font: 14px/22px 'Lato', Helvetica, Arial, sans-serif; margin: 0; }
.panel { background: rgba(255, 255, 255, 0.9); border-radius: 2px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); margin: 0 auto; text-align: center; color: #000; overflow-x: hidden; padding-top: 40px;  padding-bottom: 30px; }
.formset, .content {padding: 25px; max-width: 320px; margin: auto; }
.panel h1,  #header .brand { font-size: 60px; margin: 25px 0 15px; display: inline-block; width: 100%; font-weight: 200; color: #ff5252; font-family: "Vibur", cursive; }
.panel h4 { font-weight: 400; font-size: 16px; text-align: left; padding-left: 15px; padding-bottom: 5px; color: #ff5252; border-bottom: 1px solid #ff5252; }
.btn { border: 0; padding: 10px; border-radius: 20px; width: 100%; margin-top: 15px; background: #ff5252; font-size: 16px; font-weight: 400; cursor: pointer; color: #fff; position: relative; overflow: hidden; }
.btn.btn-small { width: auto; }
.icons.twitter { background: #00aced; }
.icons.fb { background: #3b579d; }
.icons.googleplus { background: #dd4a3a; }
.icons.gh {background: #000; }
.icons { width: 40px; height: 40px; line-height: 37px; color: #fff; border-radius: 100%; display: inline-block; }
input { border-radius: 20px; border: 1px solid #ff5252; height: 35px; position: relative; z-index: 2; padding: 5px; background: none; color: #ff5252; width: 100%; }
input:focus { outline: 0 none; }
input[type="file"] { border: 0 none; border-radius: 0; }
label { font-weight: 300; color: #ff5252; font-size: 14px; min-height: 17px; text-align: left; z-index: 1; }
a { text-decoration: none; color: #ff5252; }
a.link-secondary { color: #fff; }
a:hover { text-decoration: underline; }
.clearfix, .clearfix::before, .clearfix::after {content: ""; clear: both; float: none; display: table; width: 100%; }
#header { background-color: #ff5252; color: #fff; border-bottom: 4px solid #ff8888; width: 100%; float: left; height: 100%; }
#header .content { padding: 15px 10px; max-width: 100%; width: 100%; margin: 0; display: inline-block; height: 100%; }
#header .brand { color: #fff; font-size: 30px; float: left; display: inline-block; width: 150px; margin: 0; }
#header .menu { list-style: none inside; float: left; padding: 0; margin: 0; }
#header .menu li { display: inline-block; margin-left: 10px; }
#header .menu li:first-child { margin-left: 0; }
#header .menu li a, #header .user a { color: #fff; }
#header .menu li a:hover, #header .menu li.selected a, #header .user a:hover { color: #000; }
#header .user { float: right; white-space: nowrap; }
.container { width: 80%; margin: 20px auto; }
.page { background: rgba(255, 255, 255, 0.9); border-radius: 2px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); }
.dashboard-page .page-title { border-bottom: 1px solid #e6e6e6; padding: 5px 10px 2px 10px; }
.dashboard-page .page-content { padding: 10px 10px;  }
/*
 }
.clearfix:after { content: ""; display: table; clear: both; }
.navbar-brand { font-family: "Vibur", cursive; font-size: 28px; }
.text-center { text-align: center; }
.main-content { overflow-y: scroll; -webkit-overflow-scrolling: touch; }
.main-content > ul { column-gap: 10px; column-width: 156px; list-style: none; margin: 1em auto; max-width: 700px; padding: 10px; width: 100%; }
.main-content > ul li {  align-items: stretch; box-sizing: border-box; column-break-inside: avoid; display: flex; height: 610px; justify-content: center; padding-bottom: 10px; }
.main-content > ul li::after { align-items: center; background: #c85634; border-radius: 4px; box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.3); display: flex; flex: 1; justify-content: center; text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);}
.main-content > ul li:nth-child(even) { height: 350px; }
.main-content > ul li:nth-child(even)::after { background: #17729D; }
.main-content > ul li:nth-child(3n) { height: 390px; }
.main-content > ul li:nth-child(3n)::after { background: #6aa53c; }
.main-content > ul li a { background-color: #fff; border-radius: 3px; padding: 5px;  }
.btn.button-like { margin-top: 0;  }
.popin-box { position: absolute; top: 50%; left: 50%; margin-left: -150px; margin-top: -280px; width: 300px; background: #fff; z-index: 88; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); display: none; }
.popin-box .content { padding: 20px 40px; }
.overlay { background-color: rgba(0,0,0,0.8); position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: 87; display: none; }
.overlay.active, .popin-box.active { display: block; }
input[type='file'] { border: none; }*/
@-webkit-keyframes slide-show { to { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes slide-show { to { -webkit-transform: translateY(0); transform: translateY(0); }}
.alert { position: fixed; z-index: 99; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-box-align: center; align-items: center; padding: 20px; color: #fff; line-height: 1.3; box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35); top: 0; right: 0; left: 0; width: 100%; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
.bar-top.do-show { -webkit-animation: slide-show 1s forwards, slide-show 1s reverse forwards 3s; animation: slide-show 1s forwards, slide-show 1s reverse forwards 3s; }
.alert.alert-info { background: #29b6f6; }
.alert.alert-success { background: #66BB6A; }
.alert.alert-error { background: #EF5350; }
/*.pagination-container { margin-top: 1em; padding-top: 2em; text-align: center; display: inline-flex;width: 100%; }
.pagination { margin: 0 auto; }
.pagination-item--wide, .pagination-item { list-style-type: none; }
.pagination-item { background-color: #fa4248; border-radius: 50%; color: #fff; float: left; font-size: 2em; height: 100px; line-height: 3em; width: 100px; position: relative; }
.pagination-item--wide { list-style-type: none; float: left; position: relative; top: 2.3em; }
.pagination-item--wide.first { margin: 0 1em 0 0; }
.pagination-item--wide.last { margin: 0 0 0 1em; }
a.pagination-link--wide { text-decoration: none; color: #fff; padding: 1.1em 1.6em; }
a.pagination-link--wide:hover { color: #000; }
.current { left: 0; position: absolute; text-align: center; top: 0; width: 100%; }
.card, .pages { background: #fff; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20); border-radius: 8px; padding: 20px; }
.search__container, .pages__container { padding: 20px 0; width: 100%; margin: 20px auto 0; position: relative;z-index: 1; }
.search-item {  border-bottom: 1px solid #D3DCE6; padding-bottom: 20px; margin-bottom: 20px; display: flex; flex-wrap: wrap; }
.search-item:last-child { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }
.ml1 { margin-left: 1%; }

@media screen and (max-width: 640px){
    nav .navbar-left, nav .navbar-right, .fl-left, .fl-right { float: none; }
}*/
