#bookmarklet { background-color: #fff; max-width: 450px; width: 100%; padding: 15px; border: 1px solid #e5e5e5;  position: fixed; top: 3%; right: 3%; z-index: 999; }
#bookmarklet #close { float: right; }
#bookmarklet h1 { font-size: 1em; }
#bookmarklet .images img { width: 20%; }
