{% extends 'base.html' %}
{% block title %}Login in{% endblock %}

{% block content %}
<div class="panel">

    {% if form.errors %}
       <p>
         Your username/e-mail and password didn't match.
         Please try again.
       </p>
     {% else %}
       <p>Please, use the following form to log in:</p>
     {% endif %}

     <p>Doesn't have an account ? <a href="{% url 'register' %}">Sign up</a> </p>

    <div class="formset">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" class="btn" value="Log in" />
        </form>

    </div>

    <p>
        <a href="{% url 'password_reset' %}">Forgot your password ?</a>
    </p>

     <h4>Login with</h4>
    <div>
        <a title="Se connecter à Google+" href="" class="icons googleplus"><i class="icon ion-social-googleplus"></i></a>
        <a title="Se connecter à Github" href="" class="icons gh"><i class="icon ion-social-github"></i></a>
        <a title="Se connecter à Twitter" href="" class="icons twitter"><i class="icon ion-social-twitter"></i></a>
    </div>

</div>
{% endblock %}
