@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
*,*:after,*:before { box-sizing: border-box; -webkit-transition: 0.3s; transition: 0.3s; }
body { background-color: #ff5252; font: 14px/22px 'Lato', Helvetica, Arial, sans-serif; margin: 0; }
.panel { max-width: 360px; background: rgba(255, 255, 255, 0.9); border-radius: 2px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); margin: auto; text-align: center; color: #000; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: calc(100% - 150px); overflow: hidden; padding-top: 40px; }
.formset {padding: 25px; max-width: 320px; margin: auto; }
.panel h1 { font-size: 60px; margin: 25px 0 15px; display: inline-block; width: 100%; font-weight: 200; color: #ff5252; font-family: "Vibur", cursive; }
.panel h4 { font-weight: 400; font-size: 16px; text-align: left; padding-left: 15px; padding-bottom: 5px; color: #ff5252; border-bottom: 1px solid #ff5252; }
.btn { border: 0; padding: 10px; border-radius: 20px; width: 100%; margin-top: 15px; background: #ff5252; font-size: 16px; font-weight: 400; cursor: pointer; color: #fff; position: relative; overflow: hidden; }
.icons.twitter { background: #00aced; }
.icons.fb { background: #3b579d; }
.icons.googleplus { background: #dd4a3a; }
.icons.gh {background: #000; }
.icons { width: 40px; height: 40px; line-height: 45px; color: #fff; border-radius: 100%; display: inline-block; }
input { border-radius: 20px; border: 1px solid #ff5252; height: 35px; position: relative; z-index: 2; padding: 5px; background: none; color: #ff5252; width: 100%; }
label { font-weight: 300; color: #ff5252; font-size: 14px; min-height: 17px; text-align: left; z-index: 1; }
a { text-decoration: none; color: #ff5252; }
a:hover { text-decoration: underline; }
nav, footer { padding: 20px 0 40px 0; background: #f8f8f8; font-size: 16px; }
nav .navbar-left { float: left; }
nav .navbar-right { float: right; }
nav ul, footer ul { margin: 0; padding: 0; }
nav ul li, footer ul li { display: inline; padding-left: 20px; }
nav ul li:first-child, footer ul li:first-child { padding-left: 0; }
nav ul li a, footer ul li a { color: #ff5252; text-decoration: none; }
nav ul li a:hover, footer ul li a:hover { color: #000; text-decoration: none; }
nav ul li input, nav ul li button { width: auto; border-radius: 0; }
nav ul li button.btn-search { border: 1px solid #ff5252; background: #ff5252; color: #fff; height: 35px; }
.container { width: 80%; margin: auto; }
.clearfix:after { content: ""; display: table; clear: both; }
.navbar-brand { font-family: "Vibur", cursive; font-size: 28px; }
.text-center { text-align: center; }
.main-content { overflow-y: scroll; -webkit-overflow-scrolling: touch; }
.main-content ul { column-gap: 10px; column-width: 156px; list-style: none; margin: 1em auto; max-width: 700px; padding: 10px; width: 100%; }
.main-content ul li {  align-items: stretch; box-sizing: border-box; column-break-inside: avoid; display: flex; height: 220px; justify-content: center; padding-bottom: 10px; }
.main-content ul li::after { align-items: center; background: #c85634; border-radius: 4px; box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.3); display: flex; flex: 1; justify-content: center; text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);}
.main-content ul li:nth-child(even) { height: 320px; }
.main-content ul li:nth-child(even)::after { background: #17729D; }
.main-content ul li:nth-child(3n) { height: 540px; }
.main-content ul li:nth-child(3n)::after { background: #6aa53c; }
.main-content ul li a { background-color: #fff; border-radius: 3px; padding: 5px;  }
.btn.button-like { margin-top: 0;  }
.popin-box { position: absolute; top: 50%; left: 50%; margin-left: -150px; margin-top: -280px; width: 300px; background: #fff; z-index: 88; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); display: none; }
.popin-box .content { padding: 20px 40px; }
.overlay { background-color: rgba(0,0,0,0.8); position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: 87; display: none; }
.overlay.active, .popin-box.active { display: block; }
input[type='file'] { border: none; }

@media screen and (max-width: 640px){
    nav .navbar-left, nav .navbar-right { float: none; }
}
