*,*:after,*:before { box-sizing: border-box; -webkit-transition: 0.3s; transition: 0.3s; }
body { background-color: #ff5252; font-family: Helvetica, Arial, sans-serif; }
.panel { max-width: 360px; background: rgba(255, 255, 255, 0.9); border-radius: 2px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); margin: auto; text-align: center; color: #000; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: calc(100% - 100px); overflow: hidden; }
.formset {padding: 25px; max-width: 320px; margin: auto; }
.panel h1 { font-size: 60px; margin: 25px 0 15px; display: inline-block; width: 100%; font-weight: 200; color: #ff5252; font-family: "Vibur", cursive; }
.panel h4 { font-weight: 400; font-size: 16px; text-align: left; padding-left: 15px; padding-bottom: 5px; color: #ff5252; border-bottom: 1px solid #ff5252; }
.btn { border: 0; padding: 10px; border-radius: 20px; width: 100%; margin-top: 15px; background: #ff5252; font-size: 16px; font-weight: 400; cursor: pointer; color: #fff; position: relative; overflow: hidden; }
.icons.twitter { background: #00aced; }
.icons.fb { background: #3b579d; }
.icons.googleplus { background: #dd4a3a; }
.icons.gh {background: #000; }
.icons { width: 40px; height: 40px; line-height: 45px; color: #fff; border-radius: 100%; display: inline-block; }
input { border-radius: 20px; border: 1px solid #ff5252; height: 35px; position: relative; z-index: 2; padding: 5px; background: none; color: #ff5252; width: 100%; }
label { font-weight: 300; color: #ff5252; font-size: 14px; min-height: 17px; text-align: left; z-index: 1; }
a { text-decoration: none; color: #ff5252; }
a:hover { text-decoration: underline; }
