{% extends 'base.html' %}
{% block title %} {{bukkake.name}} {% endblock %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <div class="pages__container">
        <div class="pages">
            <h2>{{bukkake.name}}</h2>
            <p>Posted by: <a href="/user/{{bukkake.user.username}}/">{{bukkake.user.username}}</a> on {{ bukkake.created_date|date:'d-m-Y' }}</p>

            <div class="fl-left">
                {% cloudinary bukkake.image width="50%" crop="fill" %}
            </div>
            <div class="fl-left">
                {{bukkake.material}}

                {% if bukkake.value > O %}
                <span>{{bukkake.value}} €</span>
                {% else %}
                <span>this item has no price but great value.</span>
                {% endif %}

                {% if bukkake.description %}
                <span>{{bukkake.description}}</span>
                {% endif %}

                <span>{{bukkake.location}}</span>

                <button id="likes" data-id="{{bukkake.id}}" class="btn button-like" type="button">
                    {% if bukkake.likes > 0 %}
                    <i class="icon ion-android-favorite"></i> {{ bukkake.likes }} likes
                    {% endif %}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
{% endblock %}
