{% extends 'base.html' %}
{% load staticfiles %}
{% load cloudinary %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-xs-12">
    <h2>{{bukkake.name}}</h2>
    <p>Posted by: <a href="/user/{{bukkake.user.username}}/">{{bukkake.user.username}}</a> on {{ bukkake.created_date|date:'d-m-Y' }}</p>
    <!--img src="{{bukkake.image.url}}" height="200"-->
    {% cloudinary bukkake.image width=600 %}
    </div>
    <div class="col-md-6 col-xs-12 panel-body">
    <p>{{bukkake.material}}</p>
      {% if bukkake.value > O %}
        <p>{{bukkake.value}} €</p>
      {% else %}
        <p>hello</p>
    {% endif %}
    <p>{{bukkake.location}}</p>
        <button id="likes" data-id="{{bukkake.id}}" class="btn btn-raised btn-sm btn-danger glyphicon glyphicon-heart button-like" type="button">
            {% if bukkake.likes > 0 %}
            {{ bukkake.likes }}
            {% endif %}
        </button>
        <div class="sharethis-inline-share-buttons"></div>
    </div>
</div>
<hr/>
{% endblock %}
