{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Bukkakegram</h1>
    <p class="lead text-muted">Share your selfies with our community and make the web great again !</p>
    <p>
      <a href="{% url 'register' %}" class="btn btn-primary">Sign up now !</a>
      <a href="{% url 'flatpage' url='about/' %}" class="btn btn-secondary">Read more</a>
      {% if user.is_authenticated %}
      <a href="{% url 'add_bukkake' %}" class="btn btn-success">Add a bukkake</a>
      {% endif %}
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">


{% if bukkakes.has_other_pages %}
    <div class="text-center">
    <ul class="pagination">
            {% if bukkakes.has_previous %}
                <li>
                <a href="?page={{ bukkakes.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% for i in bukkakes.paginator.page_range %}
                {% if bukkakes.number == i %}
                <li class="active">
                    <!--Page {{ bukkakes.number }} of {{ bukkakes.paginator.num_pages }}-->
                    <a href="#">{{ i }}</a>
                </li>
                {% else %}
                <li>
                    <a href="?page={{i}}">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if bukkakes.has_next %}
                <li><a href="?page={{ bukkakes.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
    </ul>
    </div>
{% endif %}


<div class="row bukkake">

  {% for bukkake in bukkakes %}
  <div class="card">
    <a href="/{{bukkake.id}}/">
        {% cloudinary bukkake.image width=356 height=280 crop="fill" %}

      {% if bukkake.description %}
      <p class="card-text">
          {{bukkake.description}}
      </p>
      {% endif %}

      <button id="likes" data-id="{{bukkake.id}}" class="btn btn-sm btn-danger glyphicon glyphicon-heart button-like" type="button">
          {% if bukkake.likes > 0 %}
          {{ bukkake.likes }} likes
          {% endif %}
      </button>
    </a>
  </div>
  {% if forloop.counter|divisibleby:3 %}
  </div><div class="row bukkake">
  {% endif %}
  {% endfor %}

</div>

</div>
</div>

{% endblock %}
