{% extends 'base.html' %}
{% block title %} Index {% endblock %}
{% load cloudinary %}
{% block content %}

<ul>
    {% for bukkake in bukkakes %}
    <li>
        <a href="/{{bukkake.id}}/">
            {% cloudinary bukkake.image width=156 crop="fill" %}

            {% if bukkake.description %}
            <p class="card-text">
                {{bukkake.description}}
            </p>
            {% endif %}

            <button id="likes" data-id="{{bukkake.id}}" class="btn button-like" type="button">
                <i class="icon ion-android-favorite"></i>
                {% if bukkake.likes > 0 %}
                {{ bukkake.likes }} likes
                {% endif %}
            </button>
        </a>
    </li>
    {% endfor %}
</ul>

{% if bukkakes.has_next %}
<div class="text-center">
    <a class="" href="?page={{ bukkakes.next_page_number }}">More</a>
</div>
{% endif %}

{% endblock %}
