{% extends 'base.html' %}
{% block content %}

<div class="album text-muted">
  <div class="container">

<h2> Search </h2>
<div>
  <p>You searched for: <strong>{{ query }}</strong>.</p>

  <hr/>

  {% if error %}
    <p>No search term.</p>
  {% endif %}

  {% if bukkakes %}
  <p>Found {{ bukkakes|length }} bukkake{{ bukkakes|pluralize }}.</p>
  <ul>
    {% for bukkake in bukkakes %}
    <li><a href="/{{bukkake.id}}/">{{ bukkake.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
</div>
</div>

{% endblock %}
