{% extends 'base.html' %}
{% block title %}Create an account{% endblock %}

{% block content %}
<div class="panel">


     <p>Please, sign up using the following form : </p>

    <div class="formset">
        <form action="." method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" class="btn" value="Create an account" />
        </form>

    </div>


     <h4>Sign up with</h4>
    <div>
        <a title="Se connecter à Google+" href="{% url 'social:begin' 'google-oauth2' %}" class="icons googleplus"><i class="icon ion-social-googleplus"></i></a>
        <a title="Se connecter à Facebook" href="{% url 'social:begin' 'facebook' %}" class="icons fb"><i class="icon ion-social-facebook"></i></a>
        <a title="Se connecter à Github" href="{% url 'social:begin' 'github' %}" class="icons gh"><i class="icon ion-social-github"></i></a>
        <a title="Se connecter à Twitter" href="{% url 'social:begin' 'twitter' %}" class="icons twitter"><i class="icon ion-social-twitter"></i></a>
    </div>

</div>
{% endblock %}
